[Unit]
Description=Webcam streaming server
After=network.target

[Service]
Type=simple
User=www-data
Group=www-data
Restart=always
RestartSec=5s
PermissionsStartOnly=true
ExecStartPre=mkdir -p /run/webcam
ExecStartPre=chown www-data:www-data /run/webcam
ExecStartPre=chmod 0770 /run/webcam
ExecStart=/var/lib/webcam-server/run.sh

[Install]
WantedBy=multi-user.target
